
#article {
    background-color: #0e5875;
    padding: 10px;
    padding-bottom: 0%;
}  

     body
   { font-family: 'Century Gothic';
         font-weight:lighter;
}
#header {
    margin-top: 0px;
    margin-left: 0px;
    font-weight: bold;
}
#header, footer,h1 {
    color: white;
    background-color: #0e5875;
    padding: 6px;
    text-align: center;
    font-family:'Century Gothic';
    
    position: static;
}
h1, h2, h3, h4 {
    font-family: 'Century Gothic';
    font-weight: bold;
}
footer{
    margin-bottom:0px;
    margin-top: 0px;
}
nav ul li{
    display:inline;
    padding:6px;
}
label{
    width:169px;
    height: 16px;
}
 li a{
    display:block;
    color:white;
    padding:8px 10px;
    text-decoration:none;
}
 li a:hover{
     background-color:white;
         text-decoration:none;
 }
    li a.active {
        background-color: white;
        color: #0e5875;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: fixed;
    width: 14%;
    height: 114%;
    color: white;
    background-color: #0e5875;
    position: fixed;
    top: 78px;
    left: 0px;
}
